<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.coffeshop">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">


        <activity android:name=".SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Login_Activity">
        </activity>
        <activity android:name=".RegisterActivity">
        </activity>
        <activity android:name=".ForgotPasswordActivity">
        </activity>
        <activity android:name=".Admin.DashboardAdminBambankActivity">
        </activity>
        <activity android:name=".Customer.DashboardCustomerActivity">
        </activity>
        <activity android:name=".Customer.DashboardCustomerSecondActivity">
        </activity>
        <activity android:name=".OrderAdminActivity">
        </activity>
        <activity android:name=".Admin.Add_Product">
        </activity>

    </application>

</manifest>